.DescribeDescribe {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.DescribeTextField {
    align-self: center;
    width: 50vw;
}

.DescribeLink {
    text-decoration: none;
}
